@import "base/reset";
@import "base/variables";

// components
@import "components/header";
@import "components/product-list";
@import "components/product-list-item";
@import "components/cart";
@import "components/total";

body {
  font-family: 'Open Sans', sans-serif;
}

.store {
  margin: 40px;
  display: flex;
  justify-content: space-between;
}
