$header-nav-background: #4a90e2;

$black: #000;
$gray-2: #6d6e70;
$gray-3: #bbbdc0;
$gray-4: #f4f4f4;
$slg-blue: #00a9e0;
$slg-dark-blue: #004b87;
$slg-pink: #e45dbf;
$slg-green: #78b320;
$slg-lime-coated: #c4d600;
$slg-lime-uncoated: #bad739;
