.cart {
  background: $gray-4;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 20px 0;
  h3 {
    font-size: 1em;
    justify-content: center;
    margin-bottom: 30px;
    color: $slg-blue;
  }
  .cart-list {
    font-size: 0.7em;
    width: 100%;
    display: flex;
    justify-content: center;
    li {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      .cart-remove-button {
        float: left;
        color: #000;
        cursor: pointer;
      }
      .cart-item-label {
        margin-left: 10px;
        font-weight: 600;
      }
      .cart-item-quantity {
        border-bottom: 1px dashed $gray-2;
        width: 20px;
        text-align: center;
        margin-right: 20px;
      }
      .cart-item-price {
        color: $slg-green;
      }
    }
  }
}
