.button-name-group {
  display: flex;
  .add-button {
    margin-right: 10px;
  }
}

.add-item-button {
  background: $slg-green;
  color: #fff;
  border: 1px solid $slg-green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-cart-button {
  float: right;
  margin-top: 30px;
  text-decoration: none;
  background: #e45dbf;
  color: #fff;
  border: 1px solid #e45dbf;
  border-radius: 25px;
  padding: 6px 50px;
  letter-spacing: 0.3em;
  font-size: 0.65em;
}

.product-discount {
  font-size: 0.7em;
  color: red;
  margin-top: 5px;
}
