.product-list {
  width: 65%;
  h2 {
    color: $slg-blue;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    &:hover {
      background: $gray-4;
    }
  }
  .product-name {
    display: flex;
    flex-direction: column;
  }
}
