.total {
  color: $slg-lime-uncoated;
  font-size: 1.75em;
  border: 8px solid $slg-lime-uncoated;
  border-radius: 50%;
  padding: 10px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-container {
  width: 150px;
  margin-top: 20%;
}
